.play-page {
  position: relative;
  height: 100%;
  z-index: 2;
}

.camera {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  &__buttons {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
  }

  &__button {
    background-color: #d40019;
    padding: 12px 25px;
    margin: 5px;
    font-size: 20px;
    border-radius: 1px;
    box-shadow: 0 0 5px rgba(#000, 0.2);
    text-transform: uppercase;
  }

  &__preview,
  &__result {
    position: absolute;
    top: 0;
    left: 0;
  }
}