@import '../../vendor/css/variables.css';

.landing {
  &-page {
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 414px;
    max-height: 736px;
    z-index: 2;
  }

  &-logo {
    width: 70%;
    display: block;
    margin: 0 auto 40px;
  }

  &-play {
    background-color: #d40019;
    padding: 12px 25px;
    font-size: 35px;
    border-radius: 1px;
    box-shadow: 0 0 5px rgba(#000, 0.2);
    text-transform: uppercase;
  }
}
