@import '../../vendor/css/variables.css';

.landing {  
  &-page {
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 414px;
    max-height: 736px;
    z-index: 2;
  } 
  &-logo {
    width: 70%;
    display: block;
    margin: auto;
  }
}